/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-acf-tabs {
	background-color: #21759b;
	color: #fff;
	padding: 2px;
}

/* Tabs Navigation */
.tabs-block-nav {
    display: flex;
}

.tab {
    background: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 2rem;
    border: 1px solid black;
    outline: none;
    border-bottom: none;
}