@use 'swiper/css/bundle';

.wp-block-mindset-blocks-testimonial-slider {
    position: relative;
}

.swiper:not(.swiper-navigation-disabled) {
    width: calc(100% - 4rem);
}

.swiper:not(.swiper-navigation-disabled) ~ .swiper-button-next {
    right: 0;
}

.swiper:not(.swiper-navigation-disabled) ~ .swiper-button-prev {
    left: 0;
}

.swiper-button-next, 
.swiper-button-prev {
    background: none;
    border: none;
	svg path{
		fill: var(--arrow-color);
	}
}

.swiper-pagination-bullet {
    width: 1rem;
    height: 1rem;
}
 .swiper-pagination-bullet-active {
        background-color: var(--arrow-color);
 }